$mainBrownColor:(#FFDCA8);
$secondaryBrownColor:(#d7b88b);
$mainPurpleColor:(#D701C2);
$mainOrangeColor:(#FF6533);
$mainGreenColor:(#00EA33);
$mainYellowColor:(#F6DC31);
$mainBlueColor:(#106ED3);
$mainBLackColor:(#000);

@font-face {
    font-family: 'Bebas';
    font-style: normal;
    src: url('./Bebas-Regular.otf') format('opentype');
}

body{
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: $mainBrownColor;
    font-family: 'Bebas';
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
}

.container{
    max-width: 1600px;
    width: 100vw;
}

.navBar{
    display: flex;
    justify-content: center;
    ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        font-size: 2rem; 
        cursor: pointer;
        li:hover{
            opacity: .5;
        }
    }

}

.row{
    text-align: center;
    h1{
        margin-bottom: 0;
    }
    h3{
        margin-top: 0;
    }
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    max-width: 600px;
    box-shadow: 12px 12px 0px;
    background-color: $secondaryBrownColor;
    border: black solid 3px;
    margin: 10px;
    .cardHead{
        border-bottom: black solid 3px;
        padding: 10px;
        background-color: #106ED3;
        h2{
            font-size: 2rem;
        }
    }
    .cardBody{
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
            width: 95%;
            height: auto;
            padding: 2.5%;
            border-radius: 10px;
        }
        p{
            padding: 10px;
            font-size: 1.3rem;
        }
        div{
            display: flex;
            justify-content: center;
            gap: 15px;
            padding-bottom: 10px;
            button{
                border: none;
                border-radius: 10px;
                padding: 8px;
                font-family: inherit;
                font-size: 1.3rem;
                cursor: pointer;
                background-color: #FF6533;
            }
        }
    }
}